.flex-container {
    display: flex;
    height: 600px;
    flex-wrap: wrap;
    align-content: space-between;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 335px;
    margin: 10px;
    text-align: left;
    line-height: 45px;
    font-size: 20px;
  }